:80 {
    # Proxy para PHP (Apache/Nginx, porta 8080)
    route {
        # Proxy tudo exceto /socket.io para PHP
        @php not path /socket.io*
        reverse_proxy @php localhost:8080
    }

    # Proxy para Socket.IO (Node.js, porta 3000)
    reverse_proxy /socket.io* localhost:3000 {
        transport http {
            versions h2c 1.1
        }
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up X-Forwarded-For {remote}
        header_up X-Forwarded-Proto {scheme}
        header_up Upgrade {>Upgrade}
        header_up Connection {>Connection}
    }
}
